.option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.option-container .option {
    font-size: 17px;
    text-align: left;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    transition: all linear .2s;
}

.option-container .option:hover {
    background-color: burlywood;
}

@media screen and (max-width: 576px) {
    .option-container {
        grid-template-columns: 1fr;
    }

}

@media screen and (min-width: 577px) and (max-width: 700px) {
    .option-container {
        grid-template-columns: 90%;
    }

}